<% include header %>

<body>
<header>
    <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
    </div>
    
    <nav class="menu">
        <div class="menu-branding">
            <div class="portrait"></div>
        </div>
        <ul class="menu-nav">
            <li class="nav-items">
                <a href="/" class="nav-link">
                Home
                </a>
            </li>            
            <li class="nav-items current">
                <a href="/about" class="nav-link">
                About Me
                </a>
            </li>            
            <li class="nav-items">
                <a href="/work" class="nav-link">
                My Work
                </a>
            </li>            
            <li class="nav-items">
                <a href="/contact" class="nav-link">
                How To Reach Me
                </a>
            </li>
        </ul>
    </nav>
</header>

    <main id="about">
        <h1 class="lg-heading">
            About <span class="text-secondary">Me</span>
        </h1>
        <h2 class="sm-heading">
            Skills and experience...
        </h2>
        <div class="about-info">
            <div class="bio">
                <h3 class="text-secondary">BIO</h3>
                <p>Hello and thanks for stopping by my portfolio! I'm a 25 year old self taught full stack developer. I currently have over one year of web development experience.
                    Below you can see my current skills for front and back end enviornments.
                </p>
            </div>
            
            <div class="job job-1">
                <h3>Front-End</h3>
                <p><ul>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Javascript</li>
                    <li>jQuery</li>
                    <li>Bootstrap 4</li>
                    <li>Scss</li>
                    <li>React</li>
                    <li>Bable</li>
                </ul></p>
            </div>
            <div class="job job-2">
                <h3>Back-End</h3>
                <p><ul>
                    <li>MongoDB</li>
                    <li>Express</li>
                    <li>Node/NPM</li>
                    <li>Ejs</li>
                    <li>Passport</li>
                    <li>Git</li>
                </ul></p>
            </div>
            <div class="job job-3">
                <h3>Best Practices</h3>
                <p><ul>
                    <li>REST</li>
                    <li>SOAP</li>
                    <li>Big-O-Notation</li>
                </ul></p>
            </div>
        </div>
    </main>

<% include footer %>