<% include header %>

<body id="bg-img">
<header>
    <div class="menu-btn">
        <div class="btn-line"></div>
        <div class="btn-line"></div>
        <div class="btn-line"></div>
    </div>
    
    <nav class="menu">
        <div class="menu-branding">
            <div class="portrait"></div>
        </div>
        <ul class="menu-nav">
            <li class="nav-items current">
                <a href="/" class="nav-link">
                Home
                </a>
            </li>            
            <li class="nav-items">
                <a href="/about" class="nav-link">
                About Me
                </a>
            </li>            
            <li class="nav-items">
                <a href="/work" class="nav-link">
                My Work
                </a>
            </li>            
            <li class="nav-items">
                <a href="/contact" class="nav-link">
                How To Reach Me
                </a>
            </li>
        </ul>
    </nav>
</header>

    <main id="home">
        <h1 class="lg-heading">
            Matthew <span class="text-secondary">Houston</span>
        </h1>
        <h2 class="sm-heading">
            Web Developer, Programmer, & Entrepreneur
        </h2>
        <div class="icons">
            <a href="https://twitter.com/pardition" target="_blank">
                <i class="fa fa-twitter fa-2x"></i>
            </a>            
            <a href="https://www.facebook.com/matt.houston.984" target="_blank">
                <i class="fa fa-facebook fa-2x"></i>
            </a>            
            <a href="https://www.linkedin.com/in/matthew-houston-4a4019143/" target="_blank">
                <i class="fa fa-linkedin fa-2x"></i>
            </a>            
            <a href="https://github.com/mhouston4994" target="_blank">
                <i class="fa fa-github fa-2x"></i>
            </a>
        </div>
    </main>

<% include footer %>